# append()

In [10]:
lis1=[1,2,3,4]

In [11]:
lis1.append(7)

In [12]:
lis1

[1, 2, 3, 4, 7]

In [13]:
lis1.append('a')

In [14]:
lis1

[1, 2, 3, 4, 7, 'a']

In [15]:
lis1.append([4,5,6])

In [16]:
lis1

[1, 2, 3, 4, 7, 'a', [4, 5, 6]]

In [17]:
lis1.append(('a','b','c'))

In [18]:
lis1

[1, 2, 3, 4, 7, 'a', [4, 5, 6], ('a', 'b', 'c')]

# Insert()

In [25]:
lis2=[2,4,6,8,10]

In [26]:
lis2.insert(2,3)

In [27]:
lis2

[2, 4, 3, 6, 8, 10]

In [28]:
lis2.insert(3,['a','b','c'])

In [29]:
lis2

[2, 4, 3, ['a', 'b', 'c'], 6, 8, 10]

# extend()

In [30]:
lis3=['jon','ron','sam']

In [31]:
lis3.extend([1,2])

In [32]:
lis3

['jon', 'ron', 'sam', 1, 2]

In [33]:
lis3.extend('ram')

In [34]:
lis3

['jon', 'ron', 'sam', 1, 2, 'r', 'a', 'm']

In [35]:
lis3.extend((1,4,5))

In [36]:
lis3

['jon', 'ron', 'sam', 1, 2, 'r', 'a', 'm', 1, 4, 5]

In [40]:
#+->add two or more list
lis2+lis3

[2,
 4,
 3,
 ['a', 'b', 'c'],
 6,
 8,
 10,
 'jon',
 'ron',
 'sam',
 1,
 2,
 'r',
 'a',
 'm',
 1,
 4,
 5]

In [41]:
lis2+1

TypeError: can only concatenate list (not "int") to list