In [12]:
string1="my name is richard"
string2=" and i love to code"

In [13]:
string1+string2

'my name is richard and i love to code'

In [14]:
string3="i love to code in python"

In [15]:
string1+string2+string3

'my name is richard and i love to codei love to code in python'

In [16]:
print(string1,string2,string3)

my name is richard  and i love to code i love to code in python

In [17]:
print(string1,string2)

my name is richard  and i love to code

# duplicate with *

In [18]:
name="hello"

In [19]:
name*4

'hellohellohellohello'

In [20]:
name2="hello i m tommy "

In [21]:
name2*3

'hello i m tommy hello i m tommy hello i m tommy '

# len()

In [31]:
n1="tommy"

In [32]:
len(n1)

5

In [33]:
n2="amazon"

In [34]:
len(n2)

6

In [35]:
n3="the sky is beautiful"

In [36]:
len(n3)

20

# split()

In [40]:
n4="raju ,hates ,icecream"

In [41]:
n4.split(',')

['raju ', 'hates ', 'icecream']

In [42]:
n5="the skyisbeautiful"

In [43]:
n5.split('is')

['the sky', 'beautiful']

# join()

In [44]:
lis=['raju','hates','icecream']

In [45]:
' '.join(lis)

'raju hates icecream'

In [46]:
lis1=['richard,','loves,','food']

In [47]:
'-'.lis1

AttributeError: 'str' object has no attribute 'lis1'

In [48]:
'-'.join(lis1)

'richard,-loves,-food'

# strip()

In [16]:
st="loony is loonyl"

In [17]:
st.strip(" ")

'loony is loonyl'

In [18]:
st.strip('l')

'oony is loony'

In [22]:
na="life is beautiful"

In [23]:
na.capitalize()

'Life is beautiful'

In [24]:
na.upper()

'LIFE IS BEAUTIFUL'

In [25]:
na.lower()

'life is beautiful'

In [26]:
na.title()

'Life Is Beautiful'

In [27]:
ex="Nature is an important and integral part of mankind. It is one of the greatest blessings for human life"

In [28]:
ex.find('is')

7

In [29]:
ex.rfind('is')

56

In [30]:
ex.count('is')

2